@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v23-latin-regular.eot");
  src: local("☺︎"),
    url("../assets/fonts/rubik-v23-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/rubik-v23-latin-regular.woff") format("woff"),
    url("../assets/fonts/rubik-v23-latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v23-latin-italic.eot");
  src: local("☺︎"),
    url("../assets/fonts/rubik-v23-latin-italic.woff2") format("woff2"),
    url("../assets/fonts/rubik-v23-latin-italic.woff") format("woff"),
    url("../assets/fonts/rubik-v23-latin-italic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v23-latin-500.eot");
  src: local("☺︎"),
    url("../assets/fonts/rubik-v23-latin-500.woff2") format("woff2"),
    url("../assets/fonts/rubik-v23-latin-500.woff") format("woff"),
    url("../assets/fonts/rubik-v23-latin-500.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: "normal";
  font-weight: 600;
  src: url("../assets/fonts/rubik-v23-latin-600.eot");
  src: local("☺︎"),
    url("../assets/fonts/rubik-v23-latin-600.woff2") format("woff2"),
    url("../assets/fonts/rubik-v23-latin-600.woff") format("woff"),
    url("../assets/fonts/rubik-v23-latin-600.ttf") format("ttf");
}
