*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--eastern-blue), #afe2ff);
}

.wrapper {
  margin: 0 auto;
  width: min(100%, 80rem);
}
