*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  padding: 0 1rem;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--eastern-blue), #afe2ff);
}

.wrapper {
  margin: 0 auto;
  width: min(100%, 80rem);
}

.widgetPanel {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.widgetPanel-searchInput {
  padding: 0.5rem 1rem;
  width: clamp(18rem, 10vw, 30rem);
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--mine-shaft);
}
.widgetPanel-settingsBtn {
  width: 5rem;
  height: 5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .settingsIcon {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.widgetPanel-settingsBtn:hover,
.widgetPanel-settingsBtn:focus {
  background: var(--mine-shaft);
  opacity: 0.15;
}

.mainWeatherPanel {
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
  flex-flow: column wrap;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--white);

  .mainWeather {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .extraTemp {
    margin-top: 1.5rem;
    width: min(50%, 20rem);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

.mainWeather-textHolder {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  .tempNow {
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-weight: 500;
  }
  .weatherLocation {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }
}
.mainWeather-icon {
  width: 9rem;
  height: 9rem;
}

.extraTemp-maxMin {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.extraTemp-feelsLike {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.forecastPanel {
  margin-top: 5rem;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background: #21212122;
  border-radius: 1rem;

  .weatherElem {
    min-height: 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;

    .dummyWeatherDay {
      min-width: 10rem;
    }
    .dummyWeatherIcon {
      width: 3rem;
    }
  }

  .forecastData {
    min-height: 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: var(--white);
  }
}
.weatherElem-precipitation,
.weatherElem-maxMinTemp {
  width: 2.5rem;
  height: 2.5rem;
}
.forecastData-day,
.forecastData-precipitation,
.forecastData-maxMinTemp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.forecastData-day {
  min-width: 10rem;
  font-size: 1.6rem;
  overflow: auto;
}
