*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--eastern-blue), #afe2ff);
}

.wrapper {
  margin: 0 auto;
  width: min(100%, 80rem);
}

.widgetPanel {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.widgetPanel-searchInput {
  padding: 0.5rem 1rem;
  width: clamp(18rem, 10vw, 30rem);
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--mine-shaft);
}
.widgetPanel-settingsBtn {
  width: 5rem;
  height: 5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .settingsIcon {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.widgetPanel-settingsBtn:hover,
.widgetPanel-settingsBtn:focus {
  background: var(--mine-shaft);
  opacity: 0.15;
}
