:root {
  --white: #ffffff;
  --seashell: #f1f1f1;
  --alto: #dddddd;
  --mine-shaft: #212121;
  --eastern-blue: #1c88aa;
  --nugget: #cf9f23;
  --mulled-wine: #513e68;
  --cornflower-lilac: #ffa8a8;
  --sundown: #ffb6b6;
  --reef: #bfffa1;

  --mine-shaft-opacity-22: #21212122;
}
